body {
  text-align: center;
}

a {
  color: #00B7FF;
}

.data-text {
  width: 300px;
  margin:0 auto;
  word-wrap: break-word;
}

.no-subscription, .no-payload {
  display:none;
  transition: opacity .25s ease-in-out;
  opacity:0;
}

input {
  max-width:300px;
}